.new-transaction-widget-container {
	flex: 8;
	background: #fff;
	padding: 15px 20px;
	box-shadow: 1px 1px 4px 0px rgb(128 128 128 / 75%);
	-webkit-box-shadow: 1px 1px 4px 0px rgb(128 128 128 / 75%);
}

.new-transaction-widget-container > h5 {
	font-size: 22px;
	font-weight: 500;
}
.last-transaction-table {
	width: 100%;
	box-shadow: 0px 1px 1px 0px #ccc
}

.last-transaction-table > .table-head > .col-customer {
	width: 35%;
	text-align:left;
	padding-left: 10px;
}
.last-transaction-table > .table-head > .col-date {
	width: 25%;
	text-align:left;
}

.last-transaction-table > .table-head > .col-amount {
	width: 20%;
	text-align:left;
}
.last-transaction-table > .table-head > .col-status {
	width: 20%;
	text-align:left;
}
.last-transaction-table > .table-head > th {
	padding: 10px 2px;
	font-size: 14px;
	color: #222;
}

.last-transaction-row {
	width: 100%;
}
.last-transaction-row > td {
	padding: 7px 2px;
}
.last-transaction-row > .col-customer {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 15px;
	font-weight: 600;
	color:#222;
}

.last-transaction-row > .col-amount {
	padding-left:3px;
}

.last-transaction-row > .col-customer > .user-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.last-transaction-generic-text {
	color: #111;
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.tx-status {
	border: none;
	outline: none;
	border-radius: 7px;
	padding: 5px 7px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.7px;
}

.tx-status.Approved {
	color: #4cb94f;
    background: #ceedcc;
}
